<!DOCTYPE html>
<%- include('../parts/head.ejs');  %> 
<body>
    <%- include('../parts/header.ejs', {pagina: 'sobre'});  %> 
    <main>
        <div class="jumbotron">
        <h1>sobre mim</h1>
        <p>Oi sou irenineu vc não sabe nem eu.</p>
        </div>
    </main>
    <%- include('../parts/footer.ejs');  %> 
</body>
</html>